.fav{
    background: rgba(255, 172, 172, .3);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}

.fav:hover{
    background: rgba(255,172,172,.8);
}

.fav span{
    
    width: 25px;
}
.card{
    height: 300px;
}

.card:hover {
    outline: 0px solid transparent;   
    border: 5px solid; 
    
  border-image: linear-gradient(45deg, purple, orange) 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    
  }

.titulo{
    font-size: 14px;
    
}
.im{
    height: 130px;
    
}
.link{
    text-decoration: none;
    color: black;
}



.contenedor{
    
    position: absolute;
    top: 22%;
}

.text{
    font-size: 10px;
}
@media  (max-width: 600px){
    .bt{
        
    }
}