@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.link{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 50px
}

.link2{
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
    height: 150px;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 40px;
}

.btn{
    font-family: 'Oswald', sans-serif;
    color: rgb(231, 235, 238);
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(116, 190, 165);
    width: 30%;
}