@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento+Sans&display=swap');

.navbar{
    font-weight: bolder;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    height: 12%;
}

.i{
    text-decoration: none;
    color: rgb(245, 243, 243);
    font-size: 18px;
}

.logo{
    width: 90px
}