.icon{
    background: rgba(255, 172, 172, .3);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 20px;
}

.icon:hover{
    background: rgba(255,172,172,.8);
}

.icon span{
    display: block;
    width: 40px;
    font-size: 30px;
    
}

.imag{
    width: 500px;
    height: 500px;
}

.texto{
    font-size: 30px;
    color: white;
}

.texto2{
    font-size: 20px;
    color: white;
    margin-top: 40px;
}

.formato{
    background-color: rgb(200, 212, 209);
}

.datos{
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 150px;
}

.cardDetails{
    margin-left: 250px;
    margin-top: 100px;
}

.boton{
    font-size: 20px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 4%, rgba(252,176,69,1) 100%);
    font-weight: 700;
    margin-left: 50px;
    margin-bottom: 10px;
}

@media  (max-width: 600px) {
    .imag{
        display: none;
    }
    .texto{
        font-size: 17px;
    }
    .texto2{
        font-size: 12px;
        width: 200px;

        margin-right: 0px;
    }
    .datos{
        margin-right: 200px;
        width:100%;
        
    }
    .icon span{
        font-size: 15px;
        
    }
    .icon{
        
        margin: 0;
        
    }
    .boton{
        font-size: 10px;
        margin: 0;
        
    }
    .formato{
        width: 400px;
    }
    .cardDetails{
        margin-left: 0px;
        margin-top: 100px;
    }
    
}